<ul class="comment">
    {% for comment in comments %}
        {% if foundArticle.Id == comment.ArticleId %}
            <br>
            <li>
                <div class="row">
                    <div class="col-md-2">
                        <img id="profile_pict" src="{{ comment.user.picture }}"
                             class="img-thumbnail">
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <span class="glyphicon glyphicon-user">  {{ comment.user.username }} &nbsp;</span>
                            <span class="glyphicon glyphicon-time">{{ comment.commentDate|date(' d M Y') }}</span>
                        </div>
                        <div class="row">
                            <span class="glyphicon glyphicon-comment"> {{ comment.comment|wordwrap }} </span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-default"
                                data-toggle="modal" data-target="#commentRespModal{{ comment.id }}" >Raspunde
                        </button>
                    </div>

                </div>
            </li>
            <br>
            {% for responses in responses %}
                {% if comment.id == responses.commentId.id %}
                    <li>
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div>
                                <h3>
                                    <a role="button" data-toggle="collapse" data-parent="#accordion1"
                                       href="#collapse{{ responses.id }}" aria-expanded="true"
                                       aria-controls="collapseOne">
                                        <span class="glyphicon glyphicon-menu-down"> {{ responses.user.username }}</span>
                                    </a>
                                </h3>
                                <div id="collapse{{ responses.id }}" class="panel-collapse collapse"
                                     role="tabpanel" aria-labelledby="headingOne">
                                    <div class="row">
                                        <div class="col-md-2 col-md-offset-1">
                                            <img id="profile_pict" src="{{ comment.user.picture }}"
                                                 class="img-thumbnail">
                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <span class="glyphicon glyphicon-user">  {{ responses.user.username }} &nbsp;</span>
                                                <span class="glyphicon glyphicon-time">{{ responses.commentDate|date(' d M Y') }}</span>
                                            </div>
                                            <div class="row">
                                                <span class="glyphicon glyphicon-comment"> {{ responses.commentresponse |wordwrap }} </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </li>

                {% endif %}
            {% endfor%}
        {% endif %}
    {% endfor %}
</ul>