<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{% block title %}The Daily Grunt{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('css/lightbox.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>


</head>
<body>
{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" >

        <div class="container" id="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-container">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="brand" href="{{ path ('grunt_homepage') }}">
                    <img src="{{ asset ('images/logo.png') }}" />
                </a>
            </div>
            <div class="çolapse nabar-collapse" id="navbar-container">
                <ul class="nav navbar-nav">
                    <li{% if app.request.attributes.get('_route') == 'grunt_homepage'%} class = "active" {% endif%}>
                        <a href="{{ path ('grunt_homepage') }}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li{% if app.request.uri == 'http://localhost:8000/garaj' %} class = "active" {% endif%}>
                        <a href="{{ path ('grunt_garaj', {'page' : 'garaj'}) }}"><span class="glyphicon glyphicon-wrench"></span> Garaj</a></li>
                    <li{% if app.request.uri == 'http://localhost:8000/jurnal' %} class = "active" {% endif%}>
                        <a href="{{ path ('grunt_garaj', {'page' : 'jurnal'}) }}"><span class="glyphicon glyphicon-road"></span> Jurnal de Bord</a></li>
                    <li{% if app.request.uri == 'http://localhost:8000/diy' %} class = "active" {% endif%}>
                        <a href="{{ path ('grunt_garaj', {'page' : 'diy'}) }}"><span class="glyphicon glyphicon-scissors"></span> Proiecte DYI</a></li>
                    <li{% if app.request.uri == 'http://localhost:8000/contact' %} class = "active" {% endif%}>
                        <a href="{{ path ('grunt_garaj', {'page' : 'contact'}) }}"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
                    <li>
                        {% if is_granted('ROLE_USER') %}
                            <a href="{{ path('security_logout') }}">&nbsp<span class="glyphicon glyphicon-user"></span> {{ app.user.username }}<span> &nbsp;&nbsp;&nbsp;&nbsp;</span> <span class="glyphicon glyphicon-off"></span> Logout </a>
                        {% else %}
                            <form class="navbar-form navbar-right" role="form" method="post" id="loginform" name="loginform" enctype="multipart/form-data" action="{{ path('security_login') }}" >
                                <div class="input-group">
									<span class="input-group-addon">
									<span class="glyphicon glyphicon-user"></span>
									</span>
                                    <input type="text" class="form-control" {{ last_username is defined ? ' value=' ~ last_username ~ ' ' : '' }} name="_username" id="_username" placeholder="Utilizator" />
                                </div>
                                <div class="input-group">
									<span class="input-group-addon">
									<span class="glyphicon glyphicon-lock"></span>
									</span>
                                    <input type="password" class="form-control" name="_password" id="_password" placeholder="Parola" />
                                </div>
                                <button type="submit" class="btn bnt-info">Autentifica</button>
                            </form>
                        {%  endif %}
                    </li>
                    <li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('grunt_list') }}"><span>&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="glyphicon glyphicon-exclamation-sign"></span> Admin </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>

    </nav>
{% endblock %}
{% block body %}
    {% block jumbo %}
<div class="container">

    <div class="jumbotron">
        {% if app.request.attributes.get('_route') == 'security_login'  %}
            {% if error %}
                <div class="alert alert-danger alert-dismissible" role="alert" style="text-align: right">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>{{ error.messageKey|trans(error.messageData, 'security') }}</strong>
                </div>
            {% endif %}
        {% endif %}
        <h1>The Daily Grunt</h1>
        {% if is_granted('ROLE_USER') %}
            <p class="text-right"><em>...noah bine ca esti  <strong>autentificat</strong> amu poti <strong> comenta </strong> :) </em></p>
        {%  else %}
            <p class="text-right"><em>...daca vrei sa <strong>comentezi</strong> e musai sa te <strong><a href="{{ path ('grunt_register') }}">inregistrezi</a></strong> :) </em></p>
        {% endif %}
    </div>
    {% endblock jumbo %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ asset('js/lightbox-plus-jquery.min.js') }}"></script>
    <script src="{{ asset ('js/bootstrap.min.js') }}"></script>
    <script>

        $(".col-md-3 img").each(function() {
            $(this).wrap('<a href="" data-lightbox="13a2"></a >');
            var oldurl = '';
            imgsrc = this.src;
            $('a[href="' + oldurl + '"]').attr('href', imgsrc);
        });

        $(".col-md-8 img").each(function() {
            $(this).wrap('<a href="" data-lightbox="13a2"></a >');
            var oldurl = '';
            imgsrc = this.src;
            $('a[href="' + oldurl + '"]').attr('href', imgsrc);
        });

        $(".col-md-4 img").each(function() {
            $(this).wrap('<a href="" data-lightbox="13a2"></a >');
            var oldurl = '';
            imgsrc = this.src;
            $('a[href="' + oldurl + '"]').attr('href', imgsrc);
        });


    </script>
{% endblock %}
</body>
</html>