<div class="col-md-3 col-sm-12 col-xs-12" id="side_main">
    <h2>Arhiva</h2>
    <ul>

        <li class="response">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion1"
                               href="#collapseJan" aria-expanded="true"
                               aria-controls="collapseOne">
                                <em>  Ianuarie </em></a>
                        </h3>
                    </div>

                    <div id="collapseJan" class="panel-collapse collapse"
                         role="tabpanel" aria-labelledby="headingOne">
                        {% for article in articles if article.ArticleDate|date('M') == 'Jan' %}
                            <a href="{{ path('grunt', {'pagina': article.postCategory, 'id' : article.id }) }}" >
                                <div class="panel-body">
                                    <em>Din: </em><stronger>{{ article.ArticleDate|date('Y d M') }} </stronger></br>
                                    <em>Despre: </em><strong>{{ article.PostTitle }} </strong></br>
                                    <em>In categoria: </em><strong>{{ article.PostCategory }} </strong></br>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </li>

        <li class="response">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion1"
                               href="#collapseFeb" aria-expanded="true"
                               aria-controls="collapseOne">
                                <em>  Februarie </em></a>
                        </h3>
                    </div>

                    <div id="collapseFeb" class="panel-collapse collapse"
                         role="tabpanel" aria-labelledby="headingOne">
                        {% for article in articles if article.ArticleDate|date('M') == 'Feb' %}
                            <a href="{{ path('grunt', {'pagina': article.postCategory, 'id' : article.id }) }}" >
                                <div class="panel-body">
                                    <em>Din: </em><stronger>{{ article.ArticleDate|date('Y d M') }} </stronger></br>
                                    <em>Despre: </em><strong>{{ article.PostTitle }} </strong></br>
                                    <em>In categoria: </em><strong>{{ article.PostCategory }} </strong></br>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </li>

        <li class="response">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion1"
                               href="#collapseMar" aria-expanded="true"
                               aria-controls="collapseOne">
                                <em>  Martie </em></a>
                        </h3>
                    </div>

                    <div id="collapseMar" class="panel-collapse collapse"
                         role="tabpanel" aria-labelledby="headingOne">
                        {% for article in articles if article.ArticleDate|date('M') == 'Mar' %}
                            <a href="{{ path('grunt', {'pagina': article.postCategory, 'id' : article.id }) }}" >
                                <div class="panel-body">
                                    <em>Din: </em><stronger>{{ article.ArticleDate|date('Y d M') }} </stronger></br>
                                    <em>Despre: </em><strong>{{ article.PostTitle }} </strong></br>
                                    <em>In categoria: </em><strong>{{ article.PostCategory }} </strong></br>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </li>

        <li class="response">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion1"
                               href="#collapseApr" aria-expanded="true"
                               aria-controls="collapseOne">
                                <em>  Aprilie </em></a>
                        </h3>
                    </div>

                    <div id="collapseApr" class="panel-collapse collapse"
                         role="tabpanel" aria-labelledby="headingOne">
                        {% for article in articles if article.ArticleDate|date('M') == 'Apr' %}
                            <a href="{{ path('grunt', {'pagina': article.postCategory, 'id' : article.id }) }}" >
                                <div class="panel-body">
                                    <em>Din: </em><stronger>{{ article.ArticleDate|date('Y d M') }} </stronger></br>
                                    <em>Despre: </em><strong>{{ article.PostTitle }} </strong></br>
                                    <em>In categoria: </em><strong>{{ article.PostCategory }} </strong></br>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </li>

        <li class="response">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion1"
                               href="#collapseMai" aria-expanded="true"
                               aria-controls="collapseOne">
                                <em>  Mai </em></a>
                        </h3>
                    </div>

                    <div id="collapseMai" class="panel-collapse collapse"
                         role="tabpanel" aria-labelledby="headingOne">
                        {% for article in articles if article.ArticleDate|date('M') == 'May' %}
                            <a href="{{ path('grunt', {'pagina': article.postCategory, 'id' : article.id }) }}" >
                                <div class="panel-body">
                                    <em>Din: </em><stronger>{{ article.ArticleDate|date('Y d M') }} </stronger></br>
                                    <em>Despre: </em><strong>{{ article.PostTitle }} </strong></br>
                                    <em>In categoria: </em><strong>{{ article.PostCategory }} </strong></br>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </li>

        <li class="response">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion1"
                               href="#collapseJun" aria-expanded="true"
                               aria-controls="collapseOne">
                                <em>  Iunie </em></a>
                        </h3>
                    </div>

                    <div id="collapseJun" class="panel-collapse collapse"
                         role="tabpanel" aria-labelledby="headingOne">
                        {% for article in articles if article.ArticleDate|date('M') == 'Jun' %}
                            <a href="{{ path('grunt', {'pagina': article.postCategory, 'id' : article.id }) }}" >
                                <div class="panel-body">
                                    <em>Din: </em><stronger>{{ article.ArticleDate|date('Y d M') }} </stronger></br>
                                    <em>Despre: </em><strong>{{ article.PostTitle }} </strong></br>
                                    <em>In categoria: </em><strong>{{ article.PostCategory }} </strong></br>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </li>

        <li class="response">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion1"
                               href="#collapseJul" aria-expanded="true"
                               aria-controls="collapseOne">
                                <em>  Iulie </em></a>
                        </h3>
                    </div>

                    <div id="collapseJul" class="panel-collapse collapse"
                         role="tabpanel" aria-labelledby="headingOne">
                        {% for article in articles if article.ArticleDate|date('M') == 'Jul' %}
                            <a href="{{ path('grunt', {'pagina': article.postCategory, 'id' : article.id }) }}" >
                                <div class="panel-body">
                                    <em>Din: </em><stronger>{{ article.ArticleDate|date('Y d M') }} </stronger></br>
                                    <em>Despre: </em><strong>{{ article.PostTitle }} </strong></br>
                                    <em>In categoria: </em><strong>{{ article.PostCategory }} </strong></br>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </li>

        <li class="response">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion1"
                               href="#collapseAug" aria-expanded="true"
                               aria-controls="collapseOne">
                                <em>  August </em></a>
                        </h3>
                    </div>

                    <div id="collapseAug" class="panel-collapse collapse"
                         role="tabpanel" aria-labelledby="headingOne">
                        {% for article in articles if article.ArticleDate|date('M') == 'Aug' %}
                            <a href="{{ path('grunt', {'pagina': article.postCategory, 'id' : article.id }) }}" >
                                <div class="panel-body">
                                    <em>Din: </em><stronger>{{ article.ArticleDate|date('Y d M') }} </stronger></br>
                                    <em>Despre: </em><strong>{{ article.PostTitle }} </strong></br>
                                    <em>In categoria: </em><strong>{{ article.PostCategory }} </strong></br>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </li>

        <li class="response">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion1"
                               href="#collapseSept" aria-expanded="true"
                               aria-controls="collapseOne">
                                <em>  Septembrie </em></a>
                        </h3>
                    </div>

                    <div id="collapseSept" class="panel-collapse collapse"
                         role="tabpanel" aria-labelledby="headingOne">
                        {% for article in articles if article.ArticleDate|date('M') == 'Sep' %}
                            <a href="{{ path('grunt', {'pagina': article.postCategory, 'id' : article.id }) }}" >
                                <div class="panel-body">
                                    <em>Din: </em><stronger>{{ article.ArticleDate|date('Y d M') }} </stronger></br>
                                    <em>Despre: </em><strong>{{ article.PostTitle }} </strong></br>
                                    <em>In categoria: </em><strong>{{ article.PostCategory }} </strong></br>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </li>

        <li class="response">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion1"
                               href="#collapseOct" aria-expanded="true"
                               aria-controls="collapseOne">
                                <em>  Octombrie </em></a>
                        </h3>
                    </div>

                    <div id="collapseOct" class="panel-collapse collapse"
                         role="tabpanel" aria-labelledby="headingOne">
                        {% for article in articles if article.ArticleDate|date('M') == 'Oct' %}
                            <a href="{{ path('grunt', {'pagina': article.postCategory, 'id' : article.id }) }}" >
                                <div class="panel-body">
                                    <em>Din: </em><stronger>{{ article.ArticleDate|date('Y d M') }} </stronger></br>
                                    <em>Despre: </em><strong>{{ article.PostTitle }} </strong></br>
                                    <em>In categoria: </em><strong>{{ article.PostCategory }} </strong></br>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </li>

        <li class="response">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion1"
                               href="#collapseNov" aria-expanded="true"
                               aria-controls="collapseOne">
                                <em>  Noiembrie </em></a>
                        </h3>
                    </div>

                    <div id="collapsenov" class="panel-collapse collapse"
                         role="tabpanel" aria-labelledby="headingOne">
                        {% for article in articles if article.ArticleDate|date('M') == 'Nov' %}
                            <a href="{{ path('grunt', {'pagina': article.postCategory, 'id' : article.id }) }}" >
                                <div class="panel-body">
                                    <em>Din: </em><stronger>{{ article.ArticleDate|date('Y d M') }} </stronger></br>
                                    <em>Despre: </em><strong>{{ article.PostTitle }} </strong></br>
                                    <em>In categoria: </em><strong>{{ article.PostCategory }} </strong></br>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </li>

        <li class="response">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion1"
                               href="#collapseDec" aria-expanded="true"
                               aria-controls="collapseOne">
                                <em>  Decembrie </em></a>
                        </h3>
                    </div>

                    <div id="collapseDec" class="panel-collapse collapse"
                         role="tabpanel" aria-labelledby="headingOne">
                        {% for article in articles if article.ArticleDate|date('M') == 'Dec' %}
                            <a href="{{ path('grunt', {'pagina': article.postCategory, 'id' : article.id }) }}" >
                                <div class="panel-body">
                                    <em>Din: </em><stronger>{{ article.ArticleDate|date('Y d M') }} </stronger></br>
                                    <em>Despre: </em><strong>{{ article.PostTitle }} </strong></br>
                                    <em>In categoria: </em><strong>{{ article.PostCategory }} </strong></br>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </li>

    </ul>
</div>