{% extends '::base.html.twig' %}
{% block body %}
{{ parent() }}
<div class="row">
    <div class="col-md-8">
    {% if foundArticle is not null %}
        {{ include(':Grunt:foundarticle.html.twig') }}
    {% else %}
        {% for articleMain in Main %}
        <div class="row">
            <div class="media">
                <h2>Ultimele Articole {{ category }}</h2>
                <div class="caption" id="read">
                    <h3><strong>{{ articleMain.PostTitle }}</strong></h3>
                    <p><em>{{ articleMain.postData|truncate(400)|raw }}</em></p>
                    <h4><em><strong>Scris maiastru in anul domnului: {{ articleMain.ArticleDate|date('Y d M') }}</strong></em></h4>
                    <div class="fb-like" data-href="{{  app.request.uri  }}" data-layout="button"
                         data-action="like" data-size="large" data-show-faces="true"
                         data-share="true">
                    </div>
                        <button id="read_more" class="btn btn-info" > Citeste mai departe...</button>

                </div>
            </div>
        </div>
            {{ include(':Grunt:commentsection.html.twig') }}
        {% endfor %}
    {% endif %}
    </div>
    {{ include(':Grunt:sidesection.html.twig') }}
</div>
    {{ include(':Grunt:commentresponsemodal.html.twig') }}

{% endblock %}
