{% extends '::base.html.twig' %}
{% block body %}
    {{ parent() }}
        <div class="row">
            <div class="col-md-8">

                {% for articleMain in Main %}

                <div class="row">
                    <div class="media">
                        <h3>Ultimele Articole {{ category }} <h4><strong><em>...cu alte cuvinte cum reparam singuri fiindca suntem chitrosi si nu dam bani la mecanici care se pricep...sau nu....</em></strong></h4></h3>
                        <button type="button" class="img-thumbnail pull-left" data-toggle="modal" data-target="#picmodal">
                            <img src="{{ asset ('upload/' ~ articleMain.Picture) }}" alt="broken tengai fairing" />
                        </button>

                        <div class="modal fade" role="dialog" aria-hidden="true" id="picmodal">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">Carena Tengai Sparta</h4>
                                    </div>
                                    <div class="modal-body">
                                        <img src="{{ asset ('upload/' ~ articleMain.Picture) }}" alt="broken tengai fairing" />
                                    </div>
                                    <div class="modal-footer">
                                        <h5><em>...sau de ce nu e bine sa mergi noaptea prin padure...</em></h5>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media-body">
                            <p><em>{{ articleMain.postData|truncate(1000, true) }}</em></p>
                            <p><em><strong>Scris maiastru in anul domnului: {{ articleMain.ArticleDate|date('Y') }}</strong></em></p>
                        </div>
                    </div>
                </div>

    {% if is_granted('ROLE_USER') %}
                <div class="row ">
                    <div class="col-md-10">
                        <h3>Comentezi?! <h4><strong><em>...adica e plin de critici...toata lumea se pricepe....</em></strong></h4></h3>
                        {% for flashMessage in app.session.flashbag.get('succes') %}
                            <div class="panel-heading">
                                <div class="alert alert-success alert-dismissable" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h2>{{ flashMessage }}</h2>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="panel-body">
                            <ul class="comment">
                                {% for comment in comments %}
                                    {% if articleMain.Id == comment.ArticleId %}
                                    <li>
                                        <p><span class="glyphicon glyphicon-user"> Comentariul lui: </span><em> {{ comment.user.username }} </em></p>
                                        <p><span class="glyphicon glyphicon-time"> din anul domnului: </span><em> {{ comment.commentDate|date('Y') }} </em></p>
                                        <p><span class="glyphicon glyphicon-comment"> care zice ca: </span><em> {{ comment.comment }} </em></p>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="panel-body">
                            {% for flashMessage in app.session.flashbag.get('comment_exist') %}
                                <div class="panel-heading">
                                    <div class="alert alert-warning alert-dismissable" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h2>{{ flashMessage }}</h2>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="panel-body">
                            <form method="post" id="commentform" name="commentform" enctype="multipart/form-data" action="{{ path ('comment_garaj') }}">
                                <h4>Baga Comentariul...</h4>

                                        <input type="hidden"  name="articleId" value="{{ articleMain.Id }}">

                                    <textarea id="comment" name="comment" class="form-control" rows="4" >

                                    </textarea>
                                <div class="row">
                                    <div class="col-xs-2 padding-top-10">
                                        <button type="submit" class="btn btn-info">Trimite-ti Parerea</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
    {% endif %}
               {% endfor %}

            </div>

            <div class="col-md-4">
                <div class="row">
                    <div class="container-fluid">

                        <div class="thumbnail">
                            {% for articleSide in Side %}
                            <h4>Ultimele Articole {{ articleSide.postCategory|capitalize }} </h4>
                            <button type="button" class="img-thumbnail pull-left" data-toggle="modal"
                                    data-target="#picmodal1">
                                <img  src="{{ asset ('upload/' ~ articleSide.Picture) }}" alt="campenesti cluj" />
                            </button>

                            <div class="modal fade" role="dialog" aria-hidden="true" id="picmodal1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">Campenesti Cluj</h4>
                                        </div>
                                        <div class="modal-body">
                                            <img src="{{ asset ('upload/' ~ articleSide.Picture) }}" alt="campenesti cluj" />
                                        </div>
                                        <div class="modal-footer">
                                            <h5><em>...din fata blocului...<strong>Campenesti Cluj</strong>...</em></h5>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="caption">
                                <p><em>{{ articleSide.postData|truncate(200, true) }}</em></p>
                                <p><em><strong>Scris maiastru in anul domnului: {{ articleSide.ArticleDate|date('Y') }}</strong></em></p>
                                <a href="{{ path ('grunt_jurnal') }}" class="btn btn-info">Citeste mai departe...</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container-fluid">

                        <div class="thumbnail">
                            {% for articleAside in Aside %}
                            <h4>Ultimele Articole {{ articleAside.postCategory|capitalize}}</h4>
                            <button type="button" class="img-thumbnail pull-left" data-toggle="modal" data-target="#picmodal">
                                <img src="{{ asset ('upload/' ~ articleAside.Picture) }}" alt="broken tengai fairing" />
                            </button>

                            <div class="modal fade" role="dialog" aria-hidden="true" id="picmodal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">Carena Tengai Sparta</h4>
                                        </div>
                                        <div class="modal-body">
                                            <img src="{{ asset ('upload/' ~ articleAside.Picture) }}" alt="broken tengai fairing" />
                                        </div>
                                        <div class="modal-footer">
                                            <h5><em>...sau de ce nu e bine sa mergi noaptea prin padure...</em></h5>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="caption">
                                <p><em>{{ articleAside.postData|truncate(200, true) }}</em></p>
                                <p><em><strong>Scris maiastru in anul domnului: {{ articleAside.ArticleDate|date('Y') }}</strong></em></p>
                                <a href="{{ path ('grunt_diy') }}" class="btn btn-info">Citeste mai departe...</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-md-12" id="footer">
                Copyright 2016. FildEs Flight Co.
            </div>
        </div>


    </div>
{% endblock %}