{% extends '::base.html.twig' %}
{% block body %}
{{ parent() }}
<div class="row">
    <div class="col-md-8">
    {% if foundArticle is not null %}
        {{ include(':Grunt:foundarticle.html.twig') }}
    {% else %}
        {% for articleMain in Main if articleMain.postCategory in app.request.uri %}
        {% if loop.first %}
        <div class="row">
            <div class="media">
                <h2>Ultimele Articole {{ articleMain.postCategory|upper }}{{ articleMain.id }}</h2>
                <div class="caption" id="read">
                    <h3><strong>{{ articleMain.PostTitle }}</strong></h3>
                    <p><em>{{ articleMain.postData|truncate(400)|raw }}</em></p>
                    <h4><em><strong>Scris maiastru in anul domnului: {{ articleMain.ArticleDate|date('Y d M') }}</strong></em></h4>
                    <div class="fb-like" data-href="{{  app.request.uri  }}" data-layout="button"
                         data-action="like" data-size="large" data-show-faces="true"
                         data-share="true">
                    </div>
                    <a href="{{ path('grunt', {'page' : articleMain.postCategory, 'id' : articleMain.id }) }}"
                       class="btn btn-info" > Citeste mai departe...</a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-md-4">
                <div class="media">
                    <div class="caption" id="read">
                        <h4><strong>{{ articleMain.PostTitle }}</strong></h4>
                        <p><em>{{ articleMain.postData|truncate(100)|raw }}</em></p>
                        <h5><em><strong>Din: {{ articleMain.ArticleDate|date('Y d M') }}</strong></em></h5>

                        <a href="{{ path('grunt', {'page' : articleMain.postCategory, 'id' : articleMain.id }) }}"
                           class="btn btn-info" > Citeste mai departe...</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    {% endif %}
    </div>
    {{ include(':Grunt:sidesection.html.twig') }}
</div>
    {{ include(':Grunt:commentresponsemodal.html.twig') }}

{% endblock %}
