{% extends '::base.html.twig' %}
{% block body %}
<div class="container">
    <div class="jumbotron">
        <h1>The Daily Grunt Post Management</h1>
        <a href="{{ path('grunt_list') }}">
            <button class="btn btn-primary">Manage Articles</button>
        </a>
        <a href="{{ path('comment_list') }}">
            <button class="btn btn-primary">Manage Comments</button>
        </a>
    </div>
    <div class="panel-body">
        <section>
            <h2>Users List <span class="badge"> Count: {{ pagination.getTotalItemCount }}</span></h2>
            <table class="table table-responsive table-hover">
                <tr>
                    <th>User Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>News</th>
                    <th>Roles</th>
                    <th colspan="2">Action</th>
                </tr>
                {% for user in pagination %}
                {% if user.Roles|json_encode != '["ROLE_ADMIN","ROLE_BOSS","ROLE_USER"]'%}
                <tr>
                    <td> {{ user.Id}}</td>
                    <td> {{ user.Username}}</td>
                    <td> {{ user.Email }}</td>
                    <td> {{ user.News ? 'Yes' : 'No' }}</td>
                    <td>
                        {% if user.Roles|json_encode == '["ROLE_USER"]' %}
                        Standard User
                        {% elseif user.Roles|json_encode == '["ROLE_ADMIN","ROLE_USER"]' %}
                        Administrator
                        {% elseif user.Roles|json_encode == '["ROLE_ADMIN","ROLE_BOSS","ROLE_USER"]'%}
                        GOD
                        {% endif %}
                    </td>
                    {% if user.Roles|json_encode == '["ROLE_USER"]'  %}
                    <td> <a href="{{ path('grunt_user_admin', {'id': user.Id }) }}">
                            <button class=" btn btn-success" id="upgrade_user" type="button">Make Admin  </button> </a></td>
                    {% elseif user.Roles|json_encode == '["ROLE_ADMIN","ROLE_USER"]' %}
                        <td> <a href="{{ path('grunt_user_standard', {'id': user.Id }) }}">
                                <button class=" btn btn-success" id="upgrade_user" type="button">Remv Admin</button> </a></td>
                    {% endif %}
                    <td>
                        <button class=" btn btn-danger"   data-toggle="modal"
                                data-target="#deleteUserModal{{ user.Id}}" type="button">Delete</button>
                    </td>
                </tr>
                {% endif %}
                {%  endfor %}
            </table>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>

        </section>
    </div>
</div>
    <!--DeleteUser Confirmation Modal -->
    {% for user in pagination %}
        <div class="modal fade" id="deleteUserModal{{ user.Id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModal{{ user.Id }}">
            <div class="modal-dialog" role="document">
                <div class="alert alert-danger" role="alert">
                    <h2>Esti sigur ca stii ce faci !?</h2>
                    <h4>Daca chiar vrei sa stergi utilizatorul....</h4>
                    <a href="{{ path('grunt_user_delete', {'id': user.Id }) }}">
                        <button type="button" class="btn btn-danger">Delete It!</button>
                    </a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    {% endfor %}
    <!-- End DeleteUser Confirmation Modal -->
{% endblock %}