{% extends '::base.html.twig' %}
{% block body %}
<div class="container">
    <div class="jumbotron">
    <h1>The Daily Grunt Post Management</h1>
    {% for flashMessage in app.session.flashbag.get('succes') %}
        <div class="panel-heading">
            <div class="alert alert-success alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                    <h4>{{ flashMessage }}</h4>
            </div>
        </div>
    {% endfor %}
    {% if is_granted('ROLE_BOSS') %}
        <a href="{{ path('grunt_user') }}">
            <button class="btn btn-primary">Manage Users</button>
        </a>
        <a href="{{ path('comment_list') }}">
            <button class="btn btn-primary">Manage Comments</button>
        </a>
    {% endif %}
    </div>
    <div class="panel-info">
        <a href="{{ path('grunt_admin') }}">
            <button class="btn btn-primary">New Article</button>
        </a>
    </div>



    <div class="panel-body">
        <section>
            <h2>Articles List <span class="badge"> Count: {{ pagination.getTotalItemCount }}</span></h2>

            <table class="table table-responsive table-hover">
                <tr>
                    <th>Article ID</th>
                    <th>Article Title</th>
                    <th>Article Category</th>
                    <th>Article Date</th>
                    <th>Article Content</th>
                    <th colspan="2">Action</th>
                </tr>

                {# table body #}
                {% for article in pagination %}
                    <tr>
                        <td> {{ article.Id}}</td>
                        <td> {{ article.PostTitle}}</td>
                        <td> {{ article.postCategory  }}</td>
                        <td> {{ article.ArticleDate|date('d-m-Y') }}</td>
                        <td> {{ article.postData|truncate(500, true)|raw }}</td>
                        <td> <a href="{{ path('grunt_edit', {'id': article.Id }) }}">
                                <button class="btn btn-success"  >Edit</button></a> </td>
                        <td>
                            <button class=" btn btn-danger" data-toggle="modal" data-target="#deleteArticleModal{{ article.Id}}"
                                    type="button">Delete</button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>

        </section>
        <!--Delete Confirmation Modal -->
        {% for article in articles %}
        <div class="modal fade" id="deleteArticleModal{{ article.Id}}" tabindex="-1" role="dialog" aria-labelledby="deleteArticleModal{{ article.Id}}">
            <div class="modal-dialog" role="document">
                <div class="alert alert-danger" role="alert">
                    <h2>Esti sigur ca stii ce faci !?</h2>
                    <h4>Daca chiar vrei sa stergi articolul....</h4>

                    <a href="{{ path('grunt_delete', {'id': article.Id }) }}">
                    <button type="button" class="btn btn-danger">Delete It!</button>
                    </a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        {% endfor %}
        <!--End Delete Confirmation Modal -->
    </div>
</div>
{% endblock %}