{% extends '::base.html.twig' %}
{% block body %}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="jumbotron">
        <h1 class="text-right">The Daily Grunt</h1>
        <h1 class="text-right"> Post Management</h1>
    </div>
    <a href="{{ path('article_list') }}">
        <button class="btn btn-primary">Manage Articles</button>
    </a>
    <a href="#">
        <button class="btn btn-primary">Manage Comments</button>
    </a>
    <hr>
    <div class="panel-body">
        <section>
            <h2>Comments List <span class="badge"> Count: {{ comments.getTotalItemCount }}</span></h2>
            <table class="table table-responsive table-hover">
                <tr>
                    <th>Comment ID</th>
                    <th>Article ID</th>
                    <th>User Name</th>
                    <th>Comment Category</th>
                    <th>Comment Date</th>
                    <th>Comment Content</th>
                    <th colspan="3">Actions</th>
                </tr>
                {% for comments in comments %}
                <tr>
                    <td> {{ comments.id}}</td>
                    <td> {{ comments.articleId}}</td>
                    <td> {{ comments.user.username }}</td>
                    <td> {{ comments.commentCategory }}</td>
                    <td> {{ comments.commentDate|date('Y d M')}}</td>
                    <td> {{ comments.comment }}</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#{{ comments.id }}">
                            Vezi Raspunsuri
                        </button>
                    </td>
                    <td> <a href="{{ path('comment_edit', {'id':comments.id}) }}">
                            <button class=" btn btn-success"  type="button">Edit</button> </a></td>
                    <td>
                        <button class=" btn btn-danger" data-toggle="modal"
                                data-target="#deleteCommentModal{{ comments.Id}}" type="button">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <div class="navigation">
                {{ knp_pagination_render(comments) }}
            </div>
        </section>
    </div>
</div>
    <!--Comment Response Modal -->
    {% for comments in comments %}
        <div class="modal fade" id="{{ comments.id }}" tabindex="-1" role="dialog"
             aria-labelledby="responseModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">
                        Response for Comment with <strong>Id:{{ comments.id }}</strong> </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <table class="table table-responsive table-hover">
                        <tr>
                            <th>Response for Article ID</th>
                            <th>User Name</th>
                            <th>Response Category</th>
                            <th>Response Date</th>
                            <th>Response Content</th>
                            <th colspan="2">Actions</th>
                        </tr>
                    {% for responses in responses if comments.id == responses.commentId.id %}
                        <tr>
                            <td> {{ responses.articleId}}</td>
                            <td> {{ responses.user.username }}</td>
                            <td> {{ responses.commentCategory }}</td>
                            <td> {{ responses.commentDate|date('Y d M')}}</td>
                            <td> {{ responses.commentresponse }}</td>
                            <td> <a href="{{ path('response_edit', {'id':responses.id}) }}">
                                    <button class=" btn btn-success"  type="button">Edit</button> </a></td>
                            <td> <button class=" btn btn-danger" data-toggle="modal"
                                         data-target="#deleteResponseModal{{ responses.id}}" type="button">Delete</button>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!--End Comment Response Modal -->
    <!--DeleteComment Confirmation Modal -->
    {% for comments in comments %}
        <div class="modal fade" id="deleteCommentModal{{ comments.Id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModal{{ comments.Id }}">
            <div class="modal-dialog" role="document">

                <div class="alert alert-danger" role="alert">
                    <h2>Esti sigur ca stii ce faci !?</h2>
                    <h4>Daca chiar vrei sa stergi utilizatorul....</h4>

                    <a href="{{ path('comment_delete', {'id':comments.id}) }}">
                        <button type="button" class="btn btn-danger">Delete It!</button>
                    </a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    {% endfor %}
    <!--End DeleteComment Confirmation Modal -->
    <!--DeleteResponse Confirmation Modal -->
    {% for responses in responses %}
        <div class="modal fade" id="deleteResponseModal{{ responses.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModal{{ responses.Id }}">
            <div class="modal-dialog" role="document">

                <div class="alert alert-danger" role="alert">
                    <h2>Esti sigur ca stii ce faci !?</h2>
                    <h4>Daca chiar vrei sa stergi utilizatorul....</h4>
                    <a href="{{ path('response_delete', {'id':responses.id}) }}">
                        <button type="button" class="btn btn-danger">Delete It!</button>
                    </a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    {% endfor %}
    <!--End DeleteComment Confirmation Modal -->
{% endblock %}