{% extends '::base.html.twig' %}
{% block body %}
<div class="container">
    <div class="jumbotron">
        <h1>The Daily Grunt Post Management</h1>
            <a href="{{ path('grunt_list') }}">
                <button class="btn btn-primary">Manage Articles</button>
            </a>
            <a href="#">
                <button class="btn btn-primary">Manage Comments</button>
            </a>
    </div>
    <div class="panel-body">
        <section>
            <h2>Comments List:</h2>
            <table class="table table-responsive table-hover">
                <tr>
                    <th>Comment ID</th>
                    <th>Article ID</th>
                    <th>User Name</th>
                    <th>Comment Category</th>
                    <th>Comment Date</th>
                    <th>Comment Content</th>
                    <th colspan="2">Action</th>
                </tr>
                {% for comments in comments %}
                <tr>
                    <td> {{ comments.id}}</td>
                    <td> {{ comments.articleId}}</td>
                    <td> {{ comments.user.username }}</td>
                    <td> {{ comments.commentCategory }}</td>
                    <td> {{ comments.commentDate|date('Y d M')}}</td>
                    <td> {{ comments.comment }}</td>
                    <td> <a href="{{ path('comment_edit', {'id':comments.id}) }}">
                            <button class=" btn btn-succes"  type="button">Edit</button> </a></td>
                    <td> <a href="{{ path('comment_delete', {'id':comments.id}) }}">
                            <button class=" btn btn-danger"  type="button">Delete</button> </a></td>
                </tr>
                {%  endfor %}
            </table>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="footer">
        Copyright 2017. FildEs Flight Co.
    </div>
</div>
</div>
{% endblock %}